<p id="notice"><%= notice %></p>

<h1>
<%= gravatar_for @user, :size => 30 %>
<%= @user.name %></h1>
<% unless @user.posts.empty? %>	
<ul class="posts">
	<%= render @posts %>
</ul>
<%= will_paginate @posts %>
<% end %>

