<div class="container paddingbottom">
<p id="notice"><%= notice %></p>
<section class="largeSection span-15">

<% unless @user.posts.empty? %>	

	<%= render @posts %>

<%= will_paginate @posts %>
<% end %>
</section>

<aside class="span-9 last">
	<h1>
	<%= gravatar_for @user, :size => 40 %>
	<%= @user.name %></h1>
	<p>
		<%= @user.description %>
	</p>
	
	<% if !@user.twitter_name.nil? %>
		<div id="twitter">
		
		</div>
	<% end %>
<aside>
	<script src="/javascripts/jquery.twitter.js" type="text/javascript"></script>
	<script type="text/javascript"> 
				$(document).ready(function() {
					$("#twitter").getTwitter({
						userName: "slarty_bartfast",
						numTweets: 5,
						loaderText: "Loading tweets...",
						slideIn: true,
						slideDuration: 750,
						showHeading: true,
						headingText: "Latest Tweets",
						showProfileLink: true,
						showTimestamp: true
					});
				});
			</script>

</div>
