<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "title" %>
  </div>
  <div class="field">
    <%= f.label :slug %>
    <%= f.text_area :slug, :class=>"f wmd-ignore smalltextarea" %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="field">
	<%= f.check_box   :published %> 
    <%= f.label  :published %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
 <article>
	<h2>Post preview</h2>
 	<div class="wmd-preview"></div>
 </article> 

<% end %>
	<script>wmd_options = { output: "Html", input: "post_content" };</script>
	<script type="text/javascript"  src="/javascripts/wmd/wmd.js"></script> 