
	<article>
		<% if !current_user.nil? %>
	<% if current_user == post.user %>
		<%= link_to "", {:controller => "posts", :action => "edit", :id => post }, :class=> "editLink", :title => "Edit post" %>
	<% end  %>
		<% end %>
		
		<h1><%= link_to post.title, post_path(post) %></h1>
		<span class="nobreak"><span class="postuser"><%= post.user.name %></span> <time><%= format_date(post.created_at) %></time></span>
		<div class="commentsummary">
			<%= link_to "2 comments",  post_path(post) %> <span>latest by William</span>
		</div>
		<div class="postcontent"><%=raw post.content %></div>
	</article>
