<section class="container paddingbottom standardpadding">
<h1>Listing posts</h1>

<%= will_paginate @posts %>
<table>

<% @posts.each do |post| %>
  <tr>

    <td><%= link_to post.title, post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
	<td>
	<% if !post.published? %>

	  <%= link_to 'Publish', { :controller => "posts", :action => "publish", :id => post.id }%>
	<% end %>

	</td>
  </tr>
<% end %>
</table>
<%= will_paginate @posts %>
<br />

<%= link_to 'New Post', new_post_path %>
</section>