<div class="container paddingbottom standardpadding">
<section class="span-15 padright">
<%= render @post %>

<section id="comments">
	<% if @post.postcomments.any?%>
<h2>Comments</h2>
<%= render  @post.postcomments %>
	<% end %>
<h3>Say something!</h3>

<%= form_for @postcomment  do |f| %>
  <% if @postcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postcomment.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @postcomment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :content, "Comment" %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Create comment" %>
  </div>
<%= hidden_field_tag 'post_id', @postcomment.post.id %>

<% end %>


</section>
</section>

<aside class="span-9 last">
	<%= render :partial => "users/aside", :locals => { :user => @post.user } %>
</aside>
</div>