<!DOCTYPE html>
<html>
  <head>
	<!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->  
	
	<%= javascript_include_tag :defaults %>
	
	<%= render 'layouts/stylesheets' %>  
    <title><%= title %></title>
    <%= csrf_meta_tag %>
  </head>

<body>

	<header>
	<div class="container"> 
		<h1><span>Decorated World</span></h1>
		<div style="width:50%; float:right">
		<ul class="profilelinks">
			<% if signed_in? %>
		    <li><%= link_to "Profile", current_user %></li>
	    	<li><%= link_to "Settings", edit_user_path(current_user) %></li>
			<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
			<% else %>
			<li><%= link_to "Sign in", signin_path %></li>
			<% end %>
		</ul>	
		</div>
		<nav>
			 <ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Services", services_path %></li>
				<li><%= link_to "Blog", users_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			  </ul>
		</nav>
	</div>
	</header>
<section>
	 <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
     <% end %>
    
</section>
	<%= yield %>
	<footer>
	<div class="container"> 
		<div class="a_third" style="position:relative; top:30px;">
			telephone: +44 (0) 113 232323<br/>
			email: hello@decoratedworld.co.uk
		</div>
		<div class="a_third center">
			<img src="../../images/footerlogoclear.png" alt="logo">
		</div>
		<div class="a_third right" style="position:relative; top:8px;">
			122 King Lane,<br/>
			Moortown,<br/>
			Leeds,<br/>
			West Yorkshire,<br/>
			LS17 6EH
		</div>
	</div> 
	</footer>

</body>
</html>

