<!DOCTYPE html>
<html>
  <head>
	<!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->  
	<%= javascript_include_tag :defaults %>
	<%= render 'layouts/stylesheets' %>  
    <title><%= title %></title>
    <%= csrf_meta_tag %>
  </head>
  <div class="container">
      <%= render 'layouts/header'%>
      <div class="largesection span-15">
		 <% flash.each do |key, value| %>
	          <div class="flash <%= key %>"><%= value %></div>
	        <% end %>
        <%= yield %>
      </div>
	  <aside class="span-7 last">
		dsf
	  </aside>
	  <footer class="span-22 last">
		&copy; Cajon 2010
		<%= debug(params) if Rails.env.development? %>
	  </footer>
	  
    </div>
</html>
 
